@media all and (max-width: 1023px) {

    html {
        font-size: 8px;
    }

    /* gnb_scroll */
    #gnb_scroll {
       display: none;
    }

    /* header */
    header .inner {
        justify-content: center;
        position: relative;
    }

    header .logo a {
        font-size: 28px;
        font-family: 'Mali', cursive;
        font-style: italic;
    }

    header #gnb>li {
        display: none;
    }

    /*sidebar*/
    #sidebar_btn {
        position: absolute;
        display: block;
        right: 0;
        top: 38%;
        width: 20px;
        height: 16px;
    }

    #sidebar_btn button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
        text-indent: -9999em;
    }

    #sidebar_btn button::before {
        content: '';
        display: block;
        top: 0;
        transition: all 0.3s;
    }

    #sidebar_btn button span {
        display: block;
        top: 50%;
        margin-top: -2px;
        opacity: 1;
        transition: all 0.3s;
    }

    #sidebar_btn button::after {
        content: '';
        display: block;
        top: 12px;
        transition: all 0.3s;
    }

    #sidebar_btn button span,
    #sidebar_btn button::before,
    #sidebar_btn button::after {
        border-radius: 2px;
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: #3f3f3f;
    }

    #sidebar {
        display: block;
        position: fixed;
        top: 0px;
        right: -50vw;
        width: 50vw;
        height: 100%;
        background: #e3dffd;
        z-index: 50;
        transition: all 0.3s;
    }

    #sidebar.on {
        right: 0vw;
    }

    .sidebar_inner {
        position: relative;
    }

    .sidebar_inner .close {
        position: absolute;
        top: 22px;
        right: 48px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .sidebar_inner .close:before,
    .close:after {
        position: absolute;
        left: 20px;
        content: ' ';
        height: 22px;
        width: 3px;
        background-color: #3f3f3f;
        border-radius: 2px;
    }

    .sidebar_inner .close:before {
        transform: rotate(45deg);
    }

    .sidebar_inner .close:after {
        transform: rotate(-45deg);
    }

    .sidebar_inner #sidebar_gnb {
        position: absolute;
        top: 80px;
        left: 50px;
    }

    #sidebar_gnb>li>a {
        display: inline-block;
        width: 100%;
        padding-bottom: 30px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -.5px;
    }

    #sidebar_gnb>li>a:hover {
        font-weight: 500;
        color: #fff;
    }

    #sidebar_bg {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 40;
    }

    /*about*/
    #about {
        width: 100%;
        height: 100vh;
        padding-top: 15vh;
        background: #F5F5F5;
    }

    #about .about_content {
        height: 85vh;
        display: block;
    }

    #about .left_wrap {
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 0;
    }

    #about .left_wrap img {
        width: 225px;
        height: auto;
    }

    #about .left_wrap .text_wrap {
        width: auto;
        height: auto;
        padding: 0 0 0 5%;
        display: flex;
        justify-content: flex-start;
        font-size: calc(0.78vw + 5.98px);
        position: relative;
    }

    #about .left_wrap .text_wrap ul>li {
        margin-top: 1.5rem;
    }

    #about .left_wrap .text_info1 {
        padding-right: 10%;
    }

    #about .left_wrap .text_info1 li {
        font-weight: 500;
        color: #3f3f3f;
        background-color: #E3DFFD;
        padding: 0 .7rem;
        text-align: center;
        border-radius: 5px;
    }

    #about .left_wrap .resume_btn_wrap.mobile {
        display: block;
        position: absolute;
        left: 30%;
    }

    #about .resume_btn {
        width: 13vw;
        text-align: center;
        display: inline-block;
        font-size: calc(0.78vw + 5.98px);
        font-weight: 500;
        color: #fff;
        background: #111;
        padding: 1rem 0;
        border-radius: 10px;
        margin-top: 10%;
    }

    #about .right_wrap {
        height: 40vh;
        display: block;
        margin-top: 5%;
        text-align: center;
    }

    #about .right_wrap .title {
        font-size: calc(1.57vw + 7.95px);
        font-weight: 500;
        color: #111;
        padding-top: 0;
    }

    #about .right_wrap .text_wrap {
        width: 89vw;
        height: auto;
        font-size: calc(0.78vw + 5.98px);
        line-height: 1.8;
        padding-top: 3%;
    }

    #about .right_wrap .text_wrap p {
        padding: 0;
    }

    #about .right_wrap .resume_btn_wrap.pc {
        display: none;
    }

    /*abillty*/
    #abillty {
        width: 100%;
        height: 160vh;
        padding-top: 0vh;
    }

    #abillty .abillty_wrap .abillty_box {
        width: 100%;
        height: 40vh;
        position: relative;
    }

    #abillty .abillty_wrap .abillty_box:nth-of-type(1) {
        background-color: #fff;
    }

    #abillty .abillty_wrap .abillty_box:nth-of-type(2) {
        background-color: #e3dffd;
    }

    #abillty .abillty_wrap .abillty_box .inner .img_box img {
        width: 55px;
        height: auto;
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
    }

    #abillty .abillty_wrap .abillty_box .inner .img_box .arrow {
        width: 8rem;
        position: absolute;
        top: 62%;
        left: 14%;
        font-size: 10px;
        color: #fff;
        background-color: #333;
        text-align: center;
        padding: .5rem 0;
        border-radius: 5px;
        opacity: 0;
        transition: all .5s;
        visibility: hidden;
    }

    .arrow:after {
        content: '';
        position: absolute;
        background-color: #333;
        width: 7px;
        height: 7px;
        transform: rotate(135deg) translateX(-50%);
        bottom: 16px;
        left: 40%;
    }

    #abillty .abillty_wrap .abillty_box .inner .text_box {
        position: absolute;
        left: 30%;
        top: 50%;
        transform: translateY(-50%);
    }

    #abillty .abillty_wrap .abillty_box .inner ul li {
        font-size: calc(0.62vw + 7.69px);
        padding-bottom: 1.5rem;
    }

    #abillty .abillty_wrap .abillty_box .no_2 ul li span {
        display: inline-block;
        width:18rem;
      }

    #abillty .abillty_wrap .abillty_box .inner .graph {
        display: inline-block;
        width: 27vw;
        height: 3rem;
        background-color: #e5e5e5;
        border-radius: 40px;
    }

    #project .inner {
        max-width: 96vw;
    }

    #project .inner .hover_box {
        left: -10%;
      }

    /*portfolio / redesign_group*/
    .redesign_group {
        width: 100%;
        height: 100vh;
        padding-top: 10vh;
    }

    .redesign_group .inner {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }

    /*redesign_group 공통*/
    .redesign_group .inner .desktop_box .hover_box {
        position: absolute;
        text-align: center;
        width: 27rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 15px;
        z-index: 10;
        border-radius: 4px;
        opacity: 0;
        transition: all .5s;
    }

    .redesign_group .inner .hover_box .title {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .redesign_group .inner .hover_box .txt {
        font-size: 10px;
    }

    .redesign_group .inner .text_wrap {
        padding-bottom: 7rem;
    }

    .redesign_group .inner .text_wrap .title_box .redesign {
        font-size: calc(1.57vw + 9.95px);
        font-family: 'Caveat', cursive;
    }

    .redesign_group .inner .text_wrap .title_box .title {
        font-size: calc(1.57vw + 11.95px);
        font-weight: 600;
        padding-bottom: 5px;
    }

    .redesign_group .inner .text_wrap .title_box .txt {
        font-size: 12px;
    }

    .redesign_group .inner .text_wrap .text_box .title {
        font-size: 14px;
        font-weight: 500;
    }

    .redesign_group .inner .text_wrap .text_box .txt {
        font-size: 12px;
    }

    #portfolio .inner .hover_box {
        left: -15%;
        top: -15%;
    }

    #portfolio2 .inner .hover_box {
        right: -15%;
        top: -15%;
    }

    #portfolio2 {
        background: #F5F5F5;
        margin-top: 0vh;
    }

    /*portfolio3 Clone Coding*/
    #portfolio3 {
        width: 100%;
        height: auto;
        padding-top: 10vh;
        text-align: center;
    }

    #portfolio3 .text_box {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0 70px 0;
    }

    #portfolio3 .text_box .title {
        font-size: calc(1.54vw + 30.21px);
        font-family: 'Caveat', cursive;
        font-weight: 400;
    }

    #portfolio3 .text_box .txt {
        width: 100%;
        font-size: calc(0.31vw + 8.84px);
    }

    #portfolio3 .inner {
        width: 360px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }

    #portfolio3 .inner .content_box {
        margin-bottom: 100px;
    }

    #portfolio3 .inner .content_box .name {
        font-size: calc(0.31vw + 10.84px);
        font-weight: 500;
        margin-bottom: 5px;
    }

    #portfolio3 .inner .content_box .txt {
        font-size: calc(0.31vw + 8.84px);
        margin-bottom: 5.5rem;
    }

    #portfolio3 .inner .content_box .name i {
        padding-right: 5px;
    }

    .redesign_group .inner .mockup_wrap,
    #portfolio3 .inner .content_box .mockup_wrap {
        width: 360px;
    }

    /*contact*/
    #contact .contact_inner {
        width: 100%;
        height: 100vh;
        padding-top: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contact .contact_inner .text_wrap .title {
        font-size: calc(1.54vw + 30.21px);
        font-family: 'Caveat', cursive;
        font-weight: 400;
        text-align: center;
        line-height: 1;
        padding-bottom: 15px;
    }

    #contact .contact_inner .text_box p {
        font-size: calc(0.78vw + 5.98px);
        padding-bottom: 3px;
    }

    #contact .contact_inner .contact_wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 0%;
    }

    #contact .contact_inner .left_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 55vh;
        background-color: #e3dffd;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #contact .left_wrap .profile_list {
        width: 25vw;
        height: 48vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3% 0 0 10%;
        border-radius: 5px;

    }

    #contact .left_wrap .profile_list li {
        font-size: calc(0.78vw + 3.98px);
        padding-bottom: 20px;
    }

    #contact .left_wrap .profile_list .title {
        font-size: calc(0.78vw + 5.98px);
        font-weight: 500;
        padding-bottom: 5px;
    }

    #contact .left_wrap .profile_list img {
        width: 1.4rem;
        margin-right: 10px;
    }

    #contact .right_wrap {
        background-color: #F5F5F5;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #contact .right_wrap .row {
        width: 55vw;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #contact .right_wrap .thankyou_message {
        font-weight: 400;
        font-size: calc(0.78vw + 5.98px);
        text-align: center;
        visibility: hidden;
        padding: 3% 0;
    }

    #contact .right_wrap .row .form_box {
        width: 45vw;
        display: flex;
        justify-content: space-between;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        /*-webkit-appearance: none;*/
        display: block;
        background: #fff;
        border: solid 1px #e3dffd;
        border-radius: 5px;
        width: 22vw;
        line-height: 1rem;
        padding: 1rem;
        font-size: calc(0.78vw + 5.98px);
    }

    form textarea {
        width: 45vw;
        height: 25vh;
        line-height: 1.8;
    }

    input[type="submit"] {
        transition: all .3s;
        color: #3f3f3f;
        background: #fff;
        text-decoration: none;
        border: solid 1px #e3dffd;
        border-radius: 30px;
        padding: 10px 25px;
        cursor: pointer;
        outline: 0;
        font-size: calc(0.78vw + 5.98px);
    }

    #footer {
        height: 8vh;
        line-height: 8vh;
        background-color: #e3dffd;
        text-align: center;
        font-size: calc(0.78vw + 3.98px);
    }

}