@media all and (max-width: 1023px) {

	html {
		font-size: 8px;
	}

	/*header*/
	header {
		padding: 28px 0;
	}

	header .inner {
		position: relative;
		max-width: 89vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mo_search {
		display: block;
		position: absolute;
		left: 0;
		top: -1px;
	}

	.mo_search i {
		font-size: 2.7rem;
		color: #111;
	}

	.logo img {
		width: 170px;
	}

	#gnb {
		display: none;
	}

	#account {
		display: none;
	}

	/*sidebar_btn*/
	.sidebar_btn {
		display: block;
		position: absolute;
		right: 0px;
		top: 8px;
	}

	input[id="line"] {
	    display: none;
	}

	input[id="line"] + label {
	    display: inline-block;
	    width: 20px;
	    height: auto;
	    cursor:pointer;
	}

	input[id="line"] + label > span {
	    display: block;
	    height: 3px;
	    width: 100%;
	    background-color: #111;
	    cursor:pointer;
	}

	input[id="line"] + label > span:nth-child(1) {
	    top:0;
	    transform:translateY(-8px);
	}

	input[id="line"] + label > span:nth-child(2) {
	    top:0;
	    transform:translateY(-4px);
	}

	input[id="line"] + label > span:nth-child(3) {
	    top:0;
	    transform:translateX(10px);
	    width:10px;
	}

	/*sidebar */
	#sidebar {
		display: block;
		position: fixed;
	    top: 0px;
	    right: -60vw;
	    width: 60vw;
	    height: 100%;
	    background: #fff;
	    z-index: 40;
	    transition: all 0.3s;
	}

	#sidebar.on {
		right: 0vw;
	}

	.sidebar_inner {
		position: relative;
	}

	.sidebar_inner .close {
		position: absolute;
		top: 30px;
		right: 45px;
		width: 30px;
  		height: 30px;
  		cursor: pointer;
	}

	.sidebar_inner .close:before, .close:after {
		  position: absolute;
		  left: 20px;
		  content: ' ';
		  height: 20px;
		  width: 3px;
		  background-color: #333;
	}

	.sidebar_inner .close:before {
		  transform: rotate(45deg);
	}

	.sidebar_inner .close:after {
		  transform: rotate(-45deg);
	}

	.sidebar_inner #sidebar_gnb {
		position: absolute;
		top: 70px;
		left: 60px;
	}

	#sidebar_gnb > li > a {
		display: inline-block;
		width: 100%;
		padding-bottom: 25px;
		font-size: 2.8rem;
		font-weight: 300;
		letter-spacing: -.5px;
		text-transform: uppercase;
	}

	#sidebar_gnb > li > a:hover {
		font-weight: 400;
		color: #000;
	}

	.gnb_submenu {
		padding-bottom: 30px;
	}

	.gnb_submenu > li > a {
		display: inline-block;
		font-size: 2rem;
		font-weight: 300;
		color: #666;
		padding: 7px 10px;
		line-height: 1.3;
	}

	.gnb_submenu .all {
		font-weight: 400;
	}

	.gnb_submenu > li > a:hover {
		color: #000;
	}

	#sidebar_bg {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}

	/*main*/
	main {
		margin-top: 130px;
	}

	#main .title {
		font-family: 'Frank Ruhl Libre', serif;
		font-weight: 400;
		margin-bottom: 30px;
	}

	#main .txt {
		display: inline-block;
		max-width: 460px;
		line-height: 1.4;
		margin-bottom: 70px;
	}

	section {
		margin-bottom: 0px;
	}

	section .text_wrap {
		margin: 20px 0 50px 0;
	}

	section .title {
		font-size: calc(0.60vw + 7.43px);
	}

	section .price {
		font-size: calc(0.60vw + 5.43px);
	}

	section .img_box {
		width: 20vw;
		height: auto;
	}

	/*sect01*/
	#sect01 .inner {
		display: block;
	}

	#sect01 .left_wrap {
		display: none;
	}

	#sect01 .left_wrap {
		margin-right: 0px;
	}

	/*sect02*/
	#sect02 .inner {
		display: block;
	}

	#sect02 .right_wrap {
		display: none;
	}

	#sect02 .left_wrap {
		margin-right: 0px;
	}

	/*sect03*/
	#sect03 {
		margin-bottom: 0px;
	}

	#sect03 .text_wrap {
		float: right;
		text-align: right;
		margin: 20px 0 70px 0;
	}

	#sect03 .txt {
		display: inline-block;
	    max-width: 400px;
	    line-height: 1.4;
	}

	#sect03 .content_wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	#sect03 .img_box1 {
		display: none;
	}

	/*footer*/
	footer {
		height: auto;
	}

	footer .inner {
		display: flex;
		justify-content: space-between;
		padding: 70px 0;
	}

	footer .left_wrap .logo_icon img {
		width: 30px;
		height: auto;
	}

	footer .left_wrap p {
		margin: 15px 0;
	}

	footer .left_wrap address {
		font-style: normal;
	}

	footer #mo_sign_up {
		display: inline-block;
		font-weight: 500;
		text-decoration: underline;
		text-underline-position: under;
	}

	.right_wrap .login_box {
		display: none;
	}

	.right_wrap_inner {
		display: flex;
		justify-content: flex-start;
		margin-top: 0px;
		margin-left: 0px;
	}

	.right_wrap_inner li {
		padding-bottom: 15px;
	}

	.right_wrap_inner #company_box {
		margin: 0 6vw;
	}

	.right_wrap_inner #social_box a {
		margin-right: 5px;
	}

	.right_wrap_inner #social_box i {
		font-size: 15px;
	}

}