@media all and (max-width: 1279px) {

	html {
		font-size: 9px;
	}

	.logo img {
		width: 150px;
		height: auto;
	}

	/*header*/
	#gnb > li:nth-of-type(1) {
		width: 81px;
	}

	#gnb > li:nth-of-type(2) {
		width: 58px;
		margin: 0 30px;
	}

	#gnb > li:nth-of-type(3) {
		width: 86px;
	}

	#gnb > li:nth-of-type(4) {
		width: 134px;
		margin: 0 30px;
	}

	/*sub_menu*/
	.sub_wrap {
		position: absolute;
		left: 0px;
		top: 99px;
		width: 100%; 
		height: auto;
		padding: 15px 0 50px 0;
		z-index: 20;
		background-color: #fff;
	}

	.submenu {
		max-width: 89vw;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.submenu .img_box {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#account i {
		font-size: 18px;
	}

	/*main*/
	main {
		margin: 276px 0 50px 0; /*header 값*/
	}

	/*footer*/
	footer .left_wrap .logo_icon img {
		width: 3.5vw;
		height: auto;
	}

	.right_wrap .login_box .sign_up {
		padding-left: 7vw;
	}

	.right_wrap_inner #company_box {
		margin: 0 6vw;
	}
}