* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "나눔고딕", "돋움";
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

ul,li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

.inner {
	width: 1200px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 100px;
	box-shadow: 0 3px 3px rgb(0, 0, 0, 20%);
	background-color: #fff;
}

header > .inner {
	display: flex;
	justify-content: center;
}

.logo {
	position: absolute;
	left: 50px;
	top: 15px;
}

.logo a {
	display: block;
	width: 78px;
	height: 70px;
	text-indent: -9999em;
	background: url(../img/logo.png) no-repeat;
	background-size: cover;
}

#gnb > li {
	float: left;
}

#gnb > li > a {
	position: relative;
	font-size: 22px;
	color: #333;
	display: block;
	height: 100px;
	line-height: 100px;
	padding: 0 20px 20px;
	font-weight: 600;
}

#gnb > li > a:hover::after { /*말풍선*/
	position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-bottom: 6px solid #17643f;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.sub_wrap {
	position: absolute;
	left: 0px;
	top: 100px;
	width: 100%;
	height: 60px;
	background-color: #17643f;
	z-index: 5;
}

.sub_wrap .submenu {
	position: relative;
	display: flex;
	justify-content: center;
}

.submenu li #all {
	text-decoration: underline;
	text-underline-position: under;
}

.submenu li a {
	display: inline-block;
	line-height: 60px;
	padding-right: 50px;
	color: #fff;
}

/*햄버거 버튼*/
.sidebar_btn {
	position: absolute;
	right: 70px;
	top: 50px;
}

input[id="line"] {
    display: none;
}

input[id="line"] + label {
    display: block;
    width: 40px;
    height: 20px;
    cursor:pointer;
}

input[id="line"] + label > span {
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: black;
}

input[id="line"] + label > span:nth-child(1) {
    top:0;
}

input[id="line"] + label > span:nth-child(2) {
    top:50%;
    transform:translateY(-15px);
}

input[id="line"] + label > span:nth-child(3) {
    bottom:0;
}

/*하단 footer 고정*/
#content_wrapper {
	position: relative;
	overflow: hidden; /*sidebar 스크롤 안보이게*/
}

/*sidbar*/
#sidebar {
	position: fixed;
    top: 0px;
    right: -420px;
    width: 420px;
    height: 100%;
    background: #fff;
    z-index: 30;
    transition: all 0.5s;
}

#sidebar.on {
	right: 0px;
}

.sidebar_inner {
	position: relative;
}

.sidebar_inner .close {
	position: absolute;
	top: 35px;
	right: 60px;
	width: 50px;
	height: 50px;
	background: url(../img/close.png) no-repeat center center;
    background-size: 30px auto;
    cursor: pointer;
}

.sidebar_inner #sidebar_gnb {
	position: absolute;
	top: 110px;
	left: 60px;
}

#sidebar_gnb > li > a {
	display: inline-block;
	width: 100%;
	padding-bottom: 25px;
	font-size: 28px;
	color: #222;
	font-weight: 600;
	letter-spacing: -1px;
}

.gnb_submenu {
	padding-bottom: 30px;
}

.gnb_submenu > li > a {
	display: inline-block;
	font-size: 16px;
	color: #555;
	padding: 5px 10px;
}

.gnb_submenu li #all {
	text-decoration: underline;
	text-underline-position: under;
	color: #f37836;
}

.gnb_submenu > li > a:hover {
	color: #f37836;
	text-decoration: underline;
}

.sns_app, p { /*모바일에서만 보이게*/
	display: none;
}

#sidebar_bg {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 20;
}

/*quick_menu*/
#quick_menu .mobile, #mo_inquiry { /*모바일용 안보이게*/
	display: none;
}

#quick_menu {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 40;
}

#quick_menu img {
	width: 213px;
	height: auto;
}

/*visual_slide*/
#visual_slide {
	width: 100%;
	height: auto;
	position: relative;
}

#visual_slide .pc_slide_group {
	position: relative;
}

.mo_slide_group {
	display: none !important;
}

.pc_slide_group .pc_slide img {
	width: 100%;
	height: auto;
}

/*insta*/
#insta {
	width: 100%;
	margin: 100px auto;
}

#insta .inner {
	height: 550px;/*높이 지정 필수*/
}

#insta .inner h3 {
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 24px;
	color: #333;
	letter-spacing: -1px;
}

#insta .inner h3 b {
	color: #226140;
	padding-right: 5px;
}

.insta_box {
	margin: 50px 10px 0 10px;
}

.insta_box li {
	float: left;
	width: 20%;
}

.insta_box img {
	width: 100%;
	height: auto;
	padding-right: 5px;
}

/*footer*/
footer {
	width: 100%;
	height: auto;
	background-color: #222;
}

.policy_list {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	font-size: 15px;
}

.policy_list li a {
	display: block;
	padding: 0 10px;
	color: #b3b3b3;
}

address {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-style: normal;
	padding: 15px 0 30px 0;
	font-size: 14px;
}

address span {
	color: #b3b3b3;
	display: block;
	padding: 0 10px;
}


