@media all and (max-width: 767px) {

	html {
		font-size: 7px;
	}	

	.inner {
		max-width: 89vw;
		margin: 0 auto;
	}

	/*header*/
	header {
		padding: 20px 0;
	}

	.logo img {
		width: 140px;
	}

	/*sidebar_btn*/
	.sidebar_btn {
		display: block;
		position: absolute;
		right: 0px;
		top: 6px;
	}

	input[id="line"] + label {
	    display: inline-block;
	    width: 18px;
	    cursor:pointer;
	}

	input[id="line"] + label > span {
	    display: block;
	    height: 2px;
	    width: 100%;
	    background-color: #fff;
	}

	input[id="line"] + label > span:nth-child(1) {
	    top:0;
	    transform:translateY(-8px);
	}

	input[id="line"] + label > span:nth-child(2) {
	    top:0;
	    transform:translateY(-4px);
	}

	input[id="line"] + label > span:nth-child(3) {
	    bottom:0;
	    transform:translateX(9px);
	    width: 9px;
	}

	/*sidebar */
	#sidebar {
		display: block;
		position: fixed;
	    top: 0px;
	    right: -70vw;
	    width: 70vw;
	    height: 100%;
	    background: #fff;
	    z-index: 40;
	    transition: all 0.3s;
	}

	#sidebar.on {
		right: 0vw;
	}

	.sidebar_inner {
		position: relative;
	}

	.sidebar_inner .close {
		position: absolute;
		top: 20px;
		right: 30px;
		width: 30px;
  		height: 30px;
  		cursor: pointer;
	}

	.sidebar_inner .close:before, .close:after {
		  position: absolute;
		  left: 20px;
		  content: ' ';
		  height: 20px;
		  width: 2px;
		  background-color: #333;
	}

	.sidebar_inner .close:before {
		  transform: rotate(45deg);
	}

	.sidebar_inner .close:after {
		  transform: rotate(-45deg);
	}

	.sidebar_inner #sidebar_gnb {
		position: absolute;
		top: 70px;
		left: 60px;
	}

	#sidebar_gnb > li > a {
		display: inline-block;
		width: 100%;
		padding-bottom: 20px;
		font-size: 2.6rem;
		letter-spacing: -.5px;
		text-transform: uppercase;
	}

	#sidebar_gnb > li > a:hover {
		font-weight: 400;
		color: #000;
	}

	.gnb_submenu {
		padding-bottom: 30px;
	}

	.gnb_submenu > li > a {
		display: inline-block;
		font-size: 1.8rem;
		color: #666;
		padding: 5px 10px;
		line-height: 1.3;
	}

	.gnb_submenu > li > a:hover {
		color: #000;
	}

	#sidebar_bg {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}

	/*main-visual*/
	#main_visual {
		width: 100%;
		height: auto;
	}

	#main_visual .mo_slide_group {
		position: relative;
	}

	.mo_slide_group {
		display: block !important;
	}

	.mo_slide_group .mo_slide {
		width: 100%;
		height: auto;
	}

	.mo_slide_group .mo_slide img {
		width: 100%;
	}

	.pc_slide_group {
		display: none !important;
	}

	/*sect01*/
	#sect01 {
		margin: 100px 0;
	}

	#sect01 .text {
		width: 70vw;
		font-size: calc(1.53vw + 6.27px);
		margin: 50px auto;
	}

	#sect01 .more_box {
		padding: 3% 8%;
	}

	.title {
		font-size: calc(3.56vw + 24.64px);
	}

	/*sect02*/
	#sect02 {
		margin-bottom: 100px; 
	}

	#sect02 .title {
		margin-bottom: 50px;
	}

	#sect02 .content_wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	#sect02 .content_wrap .content_box {
		margin-bottom: 30px;
		margin-right: 5px;
	}

	#sect02 .content_wrap .content_box:nth-of-type(2),
	#sect02 .content_wrap .content_box:nth-of-type(4) {
		margin-right: 0;
	}

	#sect02 .content_wrap .content_box:nth-of-type(3) {
		margin-bottom: 0;
	}

	#sect02 .content_wrap .content_box:nth-of-type(5) {
		display: none;
	}

	#sect02 .mo {
		display: block;
	}

	#sect02 .pc {
		display: none;
	}

	#sect02 .img_box1 {
		width: 42vw;
		height: auto;
	}

	#sect02 .img_box2 {
		width: 42vw;
		height: auto;
	}

	#sect02 .name {
		font-size: calc(1.02vw + 6.18px);
		padding-top: 5%;
	}

	/*sect03*/
	#sect03 {
		margin-bottom: 100px;
	}

	#sect03 .inner {
		display: flex;
		justify-content: center;
	}

	#sect03 .left_wrap {
		text-align: center;
		margin-right: 0;
	}

	#sect03 .right_wrap {
		display: none;
	}

	.title2 {
		font-size: calc(3.56vw + 24.64px);
	}

	.text2 {
		font-size: calc(1.53vw + 8.27px);
	}

	#sect03 .text2 {
		width: 65vw;
		margin: 30px 0;
	}

	#sect03 .more_box {
		position: static;
		padding: 2% 7%;
		font-size: calc(1.02vw + 6.18px);
	}

	/*sect04*/
	#sect04 {
		height: auto;
	}

	#sect04 .text_wrap {
		text-align: center;
	}

	#sect04 .title2 {
		padding-top: 70px;
		position: static;
	}

	#sect04 .text2 {
		position: static;
		width: 60vw;
		margin: 30px auto;
	}

	#sect04 .more_box {
		position: static;
		padding: 2% 7%;
		font-size: calc(1.02vw + 6.18px);
	}

	#sect04 .content_wrap {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 70px 0 40px 0; /*마지막 name padding*/
	}

	#sect04 .content_top {
		position: static;
	}

	#sect04 .content_left {
		position: static;
	}

	#sect04 .content_right {
		position: static;
	}

	#sect04 .img_box .pc_img {
		display: none;
	}

	#sect04 .img_box .mo_img {
		display: block;
	}

	#sect04 .content_top .img_box {
		width: 65vw;
		height: auto;
	}

	#sect04 .content_left .img_box {
		width: 65vw;
		height: auto;
	}

	#sect04 .content_right .img_box {
		width: 65vw;
		height: auto;
	}

	#sect04 img {
		width: 100%;
		height: 100%;
	}

	.content_wrap .name {
		text-align: center;
		padding: 30px 0;
	}

	/*sect05*/
	#sect05 {
		width: 100%;
		position: relative;
	}

	#sect05 .img_box {
		width: 100%;
		height: auto;
	}

	#sect05 .title {
		padding-bottom: 15px;
	}

	#sect05 .more_box {
		padding: 3% 5%;
	}

	/*footer*/
	footer .inner {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
	}

	footer .left_wrap p {
		margin: 10px 0;
	}

	footer .left_wrap address {
		font-style: normal;
	}

	.right_wrap_inner {
		display: flex;
		justify-content: flex-start;
		margin-top: 0px;
		margin-left: 30px;
	}

	.right_wrap_inner li {
		padding-bottom: 10px;
	}

	.right_wrap_inner #company_box {
		margin: 0 25px;
	}

	.right_wrap_inner #social_box i {
		font-size: 15px;
		margin-bottom: 5px;
	}

