@charset 'UTF-8';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    color: #1f1f1f;
    font-family: 'Noto Sans KR', sans-serif;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
    font-size: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #1f1f1f;
}

.inner {
	max-width: 89vw;
	margin: 0 auto;
}

/*header*/
header {
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0 auto;
	z-index: 100;
	background: #111;
}

header .inner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*search*/
.search_inner {
	position: absolute;
	left: 0;
	top: 32px;
}

.search_inner form {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
	position: relative;
	transition: all .3s;
}

.search_inner input {
	width: 70%;
	background: none;
	border: 3px solid #ffdb00;
	border-radius: 26px;
	box-sizing: border-box;
	padding: 1px 10px 5px;
	font-size: 12px;
	color: #fff;
	z-index: 2;
	position: relative;
	cursor: pointer;
}

.search_inner input:focus {
	outline: none;
}

.search_inner .after {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 1px;
	right: 0;
	z-index: 1;
}

.search_inner form.open .after {
	cursor: pointer;
}

.search_inner .after:before,
.search_inner .after:after {
	content: '';
	width: 13px;
	height: 3px;
	background-color: #ffdb00;
	border-radius: 3px;
	position: absolute;
	transform-origin: 100% 100%;
}

.search_inner .after:after{
	bottom: 6px;
	right: 6px;
	transform: rotate(45deg);
}

.search_inner .after:before {
	top: 6px;
	right: 6px;
	transform: rotate(-45deg);
	opacity: 0;
}

.search_inner form,
.search_inner form .after,
.search_inner form .after:before,
.search_inner form .after:after {
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.search_inner form.in {
	animation-name: expand;
}
.search_inner form.in .after:before {
	animation-name: beforemagic;
}
.search_inner form.in .after:after {
  	animation-name: aftermagic;
}

.search_inner form.close,
.search_inner form.close .after,
.search_inner form.close .after:before,
.search_inner form.close .after:after {
  	animation-direction: reverse;
}
.search_inner form.close {
  	animation-name: expand;
}
.search_inner form.close .after:before {
  	animation-name: beforemagic;
}
.search_inner form.close .after:after {
  	animation-name: aftermagic;
}

/* Hold final focused state
 ****************************/
.search_inner form.open {
  	width: 250px;
  	color: #fff;
}

.search_inner form.open .after {
  	z-index: 3;
}

.search_inner form.open .after:before {
	width: 20px;
	top: 4px;
	right: 85px;
	opacity: 1;
}
.search_inner form.open .after:after {
	width: 20px;
	bottom: 15px;
	right: 87px;
}

@keyframes aftermagic {
	0% {

	}
	10% {
		width: 24px;
		bottom: -6px;
		right: 62px;
	}
	15% {
		opacity: 1;
	}
	35% {
		width: 13px;
		bottom: 1px;
		right: 69px;
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	64% {
		opacity: 0;
	}
	65% {
		opacity: 1;
		width: 13px;
		bottom: 2px;
		right: 69px;
	}
	75% {
		width: 30px;
		bottom: 8px;
		right: 82px;
	}
	90% {
		width: 20px;
		bottom: 15px;
		right: 87px;
	}
	100% {
		width: 20px;
		bottom: 15px;
		right: 87px;
	}
}
@keyframes beforemagic {
	0% {

  	}
  	50% {
		opacity: 0;
  	}
  	55% {
	    opacity: 1;
	    width: 13px;
	    top: -8px;
	    right: 72px;
  	}
 	65% {
	    width: 30px;
	    top: 2px;
	    right: 82px;
  	}
	80% {
	    width: 20px;
	    top: 4px;
		right: 85px;
	}
	100% {
	    width: 20px;
		top: 4px;
		right: 85px;
	    opacity: 1;
	}
}
@keyframes expand {
    0%   {
      color: transparent;
    }
  	20% {
    	width: 36px;
  	}
	45% {
		width: 250px;
	}
	99% {
		color: transparent;
	}
    100% {
		width: 250px;
    }
}

header .logo img {
	width: 140px;
	padding: 25px 0 20px 0;
}

/*sidebar*/
.sidebar_btn {
	position: absolute;
	right: 0;
	top: 45px;
}

input[id="line"] {
    display: none;
}

input[id="line"] + label {
    display: block;
    width: 25px;
    cursor:pointer;
}

input[id="line"] + label > span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffdb00;
}

input[id="line"] + label > span:nth-child(1) {
    top:0;
    transform:translateY(-10px);
}

input[id="line"] + label > span:nth-child(2) {
    top:0;
    transform:translateY(-5px);
}

input[id="line"] + label > span:nth-child(3) {
    bottom:0;
    transform:translateX(10px);
    width: 15px;
}

#sidebar {
	position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: url(../../img/nav.png)no-repeat center center;
    background-size: cover;
    z-index: 101;
    transition: all 0.3s;
}

#sidebar.on {
	right: 0;
}

.sidebar_inner {
	position: relative;
	width: 89vw;
	margin: auto;
}

.sidebar_inner .logo img {
	width: 140px;
	position: absolute;
	left: 0;
	top: 25px;
}

.sidebar_inner .close {
	position: absolute;
	top: 35px;
	right: 0px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.sidebar_inner .close:before, .close:after {
	  position: absolute;
	  left: 20px;
	  content: ' ';
	  height: 25px;
	  width: 3px;
	  background-color: #ffdb00;
}

.sidebar_inner .close:before {
	  transform: rotate(45deg);
}

.sidebar_inner .close:after {
	  transform: rotate(-45deg);
}

.sidebar_inner #sidebar_gnb {
	position: absolute;
	top: 120px;
	right: 0px;
}

#sidebar_gnb > li > a {
	display: inline-block;
	width: 100%;
	padding-bottom: 20px;
	font-size: 2.4rem;
	text-align: right;
	line-height: 2;
	color: #fff;
}

#sidebar_gnb > li > a:hover {
	color: #ffdb00;
}

/*scroll*/
.scroll-downs {
  position: fixed;
  top: 50%;
  right: 50px;
  margin: auto;
  width :34px;
  height: 55px;
  z-index: 100;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*main*/
main {
	padding-top: 93px; /*header값*/
}

/*section*/
section {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background-color: #111;
}

section .img_box {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

section .img_box video {
	width: 100%;
	height: 90vh;
	object-fit: cover;
}

/*footer*/
footer {
	padding-top: 50px;
	width: 100%;
	height: 100vh;
	background-color: #111;
	color: #fff;
}

footer a {
	color: #fff;
}

footer .top_wrap {
	width: 100%;
	height: 265px;
	border-bottom: 1px solid #555;
}

footer .left_wrap {
	float: left;
	padding-top: 50px;
}

footer .left_wrap .logo_icon img {
	width: 140px;
}

footer .left_wrap .social_wrap img {
	width: 25px;
	height: auto;
	margin: 20px 10px 0 0;
}

footer .right_wrap {
	padding-top: 50px;
	float: right;
	display: flex;
	justify-content: space-between;

}

footer .right_wrap li {
	font-size: calc(0.42vw + 10.00px);
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
}

footer .right_wrap .menu_wrap {
	margin-right: 50px;
}

footer .right_wrap .menu_wrap li:hover a {
	color: #ffdb00;
}

footer .right_wrap .contact_wrap ul {
	float: left;
}

footer .right_wrap .contact_wrap .title {
	margin-right: 20px;
}

footer .right_wrap .contact_wrap .num {
	padding-top: 28px;
}

footer .bottom_wrap {
	padding: 30px 0;
	font-size: calc(0.42vw + 8.00px);
}

footer .bottom_wrap a {
	display: inline-block;
	margin-right: 10px;
	padding-bottom: 10px;
	color: #ccc;
}

footer .bottom_wrap a:hover {
	color: #ffdb00;
}

footer .bottom_wrap p {
	line-height: 1.4;
	color: #ccc;
}

.color {
	color: #ffdb00;
}


