@media all and (max-width: 1279px) {

	html {
		font-size: 9px;
	}

	.inner {
		max-width: 89vw;
		margin: 0 auto;
	}

	.logo img {
		width: 150px;
		height: auto;
	}

	/*header*/
	#gnb > li:nth-of-type(1) {
		width: 81px;
	}

	#gnb > li:nth-of-type(2) {
		width: 58px;
		margin: 0 30px;
	}

	#gnb > li:nth-of-type(3) {
		width: 86px;
	}

	#gnb > li:nth-of-type(4) {
		width: 134px;
		margin: 0 30px;
	}

	/*sub_menu*/
	.sub_wrap {
		position: absolute;
		left: 0px;
		top: 99px;
		width: 100%; 
		height: auto;
		padding: 15px 0 50px 0;
		z-index: 20;
		background-color: #fff;
	}

	.submenu {
		max-width: 89vw;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.submenu .img_box {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#account i {
		font-size: 18px;
	}

	/*section*/
	section {
		max-width: 1024px;
		margin: 0 auto;
	}

	section .img_box {
		width: 512px;
		height: auto;
		overflow: hidden;
	}

	section .img_box img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	section .title {
		font-family: 'Frank Ruhl Libre', serif;
		font-size: 5rem;
		font-weight: 400;
		line-height: 1.2;
	}

	section .txt {
		display: inline-block;
		font-size: 1.6rem;
		line-height: 1.4;
		padding: 20px 0;
	}

	section .more {
		font-size: 1.8rem;
		color: #333;
		text-decoration: underline;
		text-underline-position: under;
	}

	section .more:hover {
		color: #000;
	}

	#sect01, #sect03 {
		display: flex;
		justify-content: flex-start;
	}

	#sect02, #sect04 {
		display: flex;
		justify-content: flex-end;
	}

	#sect01 .text_wrap, #sect03 .text_wrap{
		width: 512px;
		height: auto;
		padding: 0 80px 0 80px;
	}

	#sect02 .text_wrap, #sect04 .text_wrap{
		width: 512px;
		height: auto;
		padding: 0 80px 0 80px;
	}

	#sect01 .title, #sect02 .title {
		padding-top: 40px;
	}

	#sect03 .title,#sect04 .title {
		padding-top: 70px;
	}

	/*footer*/
	footer .left_wrap .logo_icon img {
		width: 3.5vw;
		height: auto;
	}

	.right_wrap .login_box .sign_up {
		padding-left: 7vw;
	}

	.right_wrap_inner #company_box {
		margin: 0 6vw;
	}
}
